body{
    margin:0cap;
    background-color: #fcc6d1;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.first_block{
    background-color: #f49bc1;
    color:white;
    text-align: center;
    margin: 0%;
    width:100%;
    height:auto;
    font-size: 14px;
}
.first_plane{
    width:15vw;
    height:auto;
    margin-top:1%;
    margin-bottom: 1%;
}

.first_block p,h1 {
    padding-bottom:1%;
    margin:0%;
}
.big_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    margin-bottom: 3%;
}
.small_container{
    margin-top: 1%;
    padding: 1%;
    width:50%;
    background-color: #f9a7b0;
    border-radius: 15px;
    font-size: 14px;
}
table{
    width: 100%;
    border-spacing: 0px;
}
td{
    border: 0.1px solid #b1b0b0;
    text-align: center;
}
.zagol{
    background-color: white;
    font-weight:bold;
    padding: 1%;
}
.yach{
    background-color: #fcc6d1;
     text-align:left;
     padding: 1%;
}
.planes{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.second_plane{
    width:30%;
    height:auto;
    margin-top:1%;
    margin-bottom: 1%;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: purple;
    text-decoration:underline;
}
form{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}
label{
    font-weight: bold;
    color: white;
}
input{
    font-size: 17px;
    margin-bottom: 7%;
    border-color: white;
    background-color: #fcc6d1;
    outline:none;
    border-radius: 5px;
    border: 1px solid white;
}
button{
    background-color: #d84e78;
    border-radius: 5px;
    border: 1px solid #d84e78;
    padding:2%;
    color: white;
    margin-bottom: 7%;
}
button:hover{
    background-color: #a32451;
    transition: all 0.2s ease;
}
button:active{
    background-color: #6b1734;
    transition: all 0.2s ease;
}
.last_block{
    background-color: #f49bc1;
    color:white;
    text-align: center;
    width:100%;
    font-size: 16px;
}