body{
    margin:0cap;
    background-color: #fcc6d1;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.first_block{
    background-color: #f49bc1;
    color:white;
    text-align: center;
    margin: 0%;
    width:100%;
    height:auto;
    font-size: 14px;
}
.first_plane{
    width:15vw;
    height:auto;
    margin-top:1%;
    margin-bottom: 1%;
}

.first_block p,h1 {
    padding-bottom:1%;
    margin:0%;
}
.big_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
}
.small_container{
    margin-top: 1%;
    padding: 1%;
    width:50%;
    background-color: #f9a7b0;
    border-radius: 15px;
    font-size: 14px;
}